@tailwind base;
@tailwind components;
@tailwind utilities;

/* 타이핑 애니메이션 */
.typing-dot {
    @apply inline-block text-gray-500;
    animation: typing 1.4s infinite ease-in-out;
}

.animation-delay-200 {
    animation-delay: 0.2s;
}

.animation-delay-400 {
    animation-delay: 0.4s;
}

@keyframes typing {
    0% {
        transform: translateY(0);
        opacity: 0.4;
    }
    20% {
        transform: translateY(-0.3rem);
        opacity: 1;
    }
    40%, 100% {
        transform: translateY(0);
        opacity: 0.4;
    }
}